.gh-head {
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid var(--color-border);
}

.gh-head-logo {
    font-size: 2.2rem;
    font-weight: 800;
}

.gh-head-menu,
.gh-head-actions {
    font-size: 1.5rem;
    font-weight: 700;
}

.gh-head-menu a:hover {
    background-color: var(--color-bg-surface);
    border-radius: 10px;
}
